.btnContainer {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

label {
	min-width: 97%;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
	margin-top: 1rem;
	min-width: 125px;
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	line-height: 29px;
	width: 100px;
	padding: 0.2rem;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #e6e6e6;
}

input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	border-color: #008296;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	outline: 0;
}
input,
textarea {
	min-width: 97%;
	border-radius: 5px;
	padding: 5px;
	border: none;
	background-color: var(--lightGrey);
}

form {
	padding: 0px 1rem 1rem 1rem;
}

.hidden {
	display: none;
}

.shown {
	animation: slideIn 0.3s;
}
@keyframes slideIn {
	from {
		transform: translateY(-10%);
		opacity: 0;
	}

	to {
		transform: translateY(0%);
		opacity: 100%;
	}
}
