ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding: 0;
}
li {
	background-color: rgb(226, 226, 226);
	margin: 0;
	display: flex;
	align-items: center;
	list-style-type: none;
	border-radius: 5px;
	padding: 10px;
}

li p {
	flex-grow: 1;
	margin: 0;
}

ion-icon {
	cursor: pointer;
	font-size: 24px;
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	line-height: 29px;
	width: max-content;
	padding: 0.4rem;
	cursor: pointer;
	gap: 0.3rem;
}

button:hover {
	background-color: #e6e6e6;
}

button:focus {
	border-color: #008296;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	outline: 0;
}
