:root {
	--lightGrey: rgb(226, 226, 226);
	--offWhite: rgb(245, 245, 245);
}

body,
html {
	height: 100dvh;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	background-color: var(--lightGrey);
	font-family: "Roboto", sans-serif;
}
#root {
	display: flex;
	gap: 2rem;
	padding: 3rem;
	width: 70%;
	height: min-content;
}

.infoContainer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-height: min-content;
	height: min-content;
	border-radius: 5px;
}

.cvContainer {
	height: 29.7cm;
	width: 21cm;
	background-color: var(--offWhite);
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.contactInfo {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}
.personalInfo h1 {
	margin: 0;
}
.personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(38, 72, 119);
	padding: 2rem;
	color: white;
}

.sectionTitle {
	display: flex;
	justify-content: center;
	padding: 0.2rem;
	margin: 0;
	background-color: rgba(38, 72, 119, 0.164);
	color: rgb(33, 63, 104);
}
.listElement {
	display: flex;
	gap: 1rem;
	margin: 1rem;
}

.listElement p {
	margin: 6px;
}

.generalInfo {
	padding: 3rem;
}

.elementName {
	font-weight: bold;
}

.dateLoc {
	min-width: max-content;
}

@media screen and (max-width: 800px) {
	#root {
		flex-direction: column;
		align-items: center;
	}
	.infoContainer {
		width: 470px;
	}

	.cvContainer {
		height: max-content;
		max-width: 100%;
		min-width: 330px;
	}

	.contactInfo {
		flex-direction: column;
	}
}

@media screen and (max-width: 500px) {
	.infoContainer {
		max-width: 300px;
	}
}

@media print and (color) {
	@page {
		size: A4;
		margin: 0;
	}
	.personalInfo,
	.sectionTitle {
		-webkit-print-color-adjust: exact !important;
	}
	.infoContainer {
		display: none;
	}

	.cvContainer,
	html,
	body {
		height: 29.7cm;
		width: 21cm;
	}

	#root {
		padding: 0;
		margin: 0;
		width: 100%;
	}
}
