:root {
	--lightGrey: rgb(226, 226, 226);
	--offWhite: rgb(245, 245, 245);
}

body,
html {
	height: 100dvh;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	background-color: var(--lightGrey);
	font-family: "Roboto", sans-serif;
}
#root {
	display: flex;
	gap: 2rem;
	padding: 3rem;
	width: 70%;
	height: min-content;
}

.infoContainer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-height: min-content;
	height: min-content;
	border-radius: 5px;
}

.cvContainer {
	height: 29.7cm;
	width: 21cm;
	background-color: var(--offWhite);
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
/* START OF INPUT FORM CSS */
.inputSection {
	background-color: var(--offWhite);
	border-radius: 5px;
	padding: 0.5rem;
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
label {
	min-width: 97%;
}

input,
textarea {
	min-width: 97%;
	border-radius: 5px;
	padding: 5px;
	border: none;
	background-color: var(--lightGrey);
}

.chevron {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	position: relative;
	transform: rotate(-45deg);
	width: 0.5em;
	height: 0.5em;
	top: 0.5em;
	left: 0.5em;
	transition: 0.4s;
	font-size: 20px;
}

.hidden {
	display: none;
}

.shown {
	animation: slideIn 0.3s;
}

/* .displayShown {
	display: inline-block;
} */

.after {
	transition: 0.4s;
	transform: rotate(135deg);
}

.inputSection h2 {
	display: grid;
	grid-template-columns: 10fr 1fr;
	cursor: pointer;
	padding: 0px 1rem 0px 1rem;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	margin-top: 1rem;
	min-width: 100px;
}

form {
	padding: 0px 1rem 1rem 1rem;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding: 0;
}
li {
	background-color: rgb(226, 226, 226);
	margin: 0;
	display: flex;
	align-items: center;
	list-style-type: none;
	border-radius: 5px;
	padding: 10px;
}

li p {
	flex-grow: 1;
	margin: 0;
}

ion-icon {
	cursor: pointer;
	font-size: 24px;
}

@keyframes slideIn {
	from {
		transform: translateY(-10%);
		opacity: 0;
	}

	to {
		transform: translateY(0%);
		opacity: 100%;
	}
}
/* END OF INPUT FORM CSS */

.contactInfo {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}
.personalInfo h1 {
	margin: 0;
}
.personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(38, 72, 119);
	padding: 2rem;
	color: white;
}

.sectionTitle {
	display: flex;
	justify-content: center;
	padding: 0.2rem;
	margin: 0;
	background-color: rgba(38, 72, 119, 0.164);
	color: rgb(33, 63, 104);
}
.listElement {
	display: flex;
	gap: 1rem;
	margin: 1rem;
}

.listElement p {
	margin: 6px;
}

.generalInfo {
	padding: 3rem;
}

.elementName {
	font-weight: bold;
}

@media (max-width: 800px) {
	#root {
		flex-direction: column;
		align-items: center;
	}
	.infoContainer {
		width: 470px;
	}

	.cvContainer {
		height: 29.7cm;
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	.infoContainer {
		max-width: 300px;
	}
}
