body,
html {
	height: 100dvh;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	background-color: rgb(226, 226, 226);
}
#root {
	display: flex;
	gap: 2rem;
	padding: 2rem;
	width: 70%;
}

.infoContainer {
	flex-grow: 1;
	max-width: 470px;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	min-height: min-content;
	height: min-content;
	border-radius: 5px;
}

.inputSection {
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	padding: 0.5rem;
}

.cvContainer {
	border: solid orange;
	flex-grow: 1.75;
}

label,
input,
textarea {
	min-width: 97%;
}

input,
textarea {
	border-radius: 5px;
	padding: 5px;
	border: none;
	background-color: rgb(212, 212, 212);
}

.hidden {
	display: none;
}

.shown {
	animation: slideIn 0.3s;
}
.chevron {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	position: relative;
	transform: rotate(-45deg);
	width: 0.5em;
	height: 0.5em;
	top: 0.5em;
	left: 0.5em;
	transition: 0.4s;
	font-size: 20px;
}

.after {
	transition: 0.4s;
	transform: rotate(135deg);
}

.inputSection h2 {
	display: grid;
	grid-template-columns: 10fr 1fr;
	cursor: pointer;
	padding: 0px 1rem 0px 1rem;
}

form {
	padding: 0px 1rem 1rem 1rem;
}
@keyframes slideIn {
	from {
		transform: translateY(-10%);
		opacity: 0;
	}

	to {
		transform: translateY(0%);
		opacity: 100%;
	}
}
